#include "resource.h"
#include "windows.h"

IDD_TABLE DIALOGEX 0, 0, 500, 400
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Таблиця об'єктів"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_LIST_SHAPES,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,7,7,486,360
    DEFPUSHBUTTON   "Закрити",IDCANCEL,443,375,50,18
END