# IDE
.vs/
*.user
*.aps

# Build dirs
/x64/
/x86/
/Debug/
/Release/
/build/
/[Bb]in/
/[Oo]bj/

# Build artifacts
*.obj
*.pdb
*.idb
*.opendb
*.tlog
*.log
*.ilk
*.pch
*.ipch
*.res
*.exp
*.lib
*.dll
*.exe
*.exe.recipe
*.enc
*.cache
*.lastbuildstate
